/* 
    Created on : 1 juin 2019, 18:55:36
    Author     : Antoine
*/
html{
    min-height: 100%;
    background-color: #F2F2F2!important;
    height: auto;
    /*height: 100%;*/
}
body{
    background-color: #F2F2F2;
    height: 100%;
    min-height: 100%;
    font-family: Segoe UI, sans-serif;
}
footer{
    background-color: #141E46;
    margin-top: 15px;
    padding: 0px 0px;
}
a{
    color: #379911;
}
a:hover{
    color: #42A41B;
}
.breadcrumb{
    /*background-color: #65CCB8;*/
    background-color: #527843;
    border-radius: 0;
}
.breadcrumb-item.active{
    color: #D0C2FF;
}
.breadcrumb-item a{
    color: #D0C2FF;
}
.breadcrumb-item a:hover{
    color: white;
}
.navbar-dark .navbar-nav .nav-link{
    color: #D0C2FF;
}

footer a{
    color: white;
}
footer a:hover{
    color: white;
}
.trophy-vert{
    color: #379911;
} 
.list-group-item.active{
    /*background-color: #00887A;
    border-color: #00887A;*/
    background-color: #527843;
    border-color: #527843;
}
.reverseShirt{
    color: grey;
}
.uk-overlay-default-modify{
    background-color: #EEEEEE; 
}

.card-body-reduce{
    padding: 0.4rem
}

.classement-reduce-size{
    font-size: 11px;
}
.border-bottom-grey{
    border-bottom: 1px solid #DDDDDD;
}
.remove-link{
    color: black;
}
.remove-link:hover{
    color: inherit;
    text-decoration: underline;
}
.removeHover{
    color: inherit;
    text-decoration: none;
}
.removeHover:hover{
    color: inherit;
    text-decoration: none;
}
.border-vert{
    /*border: 1px solid #00887A;*/
    border: 1px solid #527843;
}
.border-vert:hover{
    /*border: 1px solid #00887A;
    color: white;
    background-color: #00887A;*/
    border: 1px solid #527843;
    color: white;
    background-color: #527843;
}
hr{
    border-top: 2px solid #CCC;
    width: 100%;
}

.nav-pills .nav-link:hover{
    background-color: #7CA36d;
    color: white;
}
.nav-pills .nav-link.active{
    /*background-color: #00887A;*/
    background-color: #527843;
}
.nav-pills .nav-link.active:hover{
    /*background-color: #00887A;*/
    background-color: #527843;
}
.info{
    color: #888888;
    font-size: 11px;
}
.list-group-item-action:focus, .list-group-item-action:hover{
    background-color: #7CA36d;
}

.icon-search{
    border: 2px solid #4d6d9a;
    border-radius: 10px;
    padding: 3px;
    color: white;
    background-color: #4d6d9a;
}
.icon-search:hover{
    color: #4d6d9a;
    background-color: white;
}
/*.bg-vertClair{
    background-color: #65CCB8;
}*/
.bg-vertClair{
    background-color: #527843;
}
.bg-dark{
    background-color: #141E46!important;
}
.table .thead-dark th{
    background-color: #141E46!important;
    border-color: #141E46!important;
}
.padd{
    padding: 10px;
}
/*.footer{
    position: fixed;
    bottom: 0;
    margin-top: 15px;
    width: 100%;
}*/
.score{
    border: 1px solid black;
    padding: 0px 5px;
}

.terrainRow{
    height: 40px;
    width: 240px;
}
.sizeTDCote{
    width: 12%;
}
.terrainLigneDashedDroite{
    border-right: 1px dashed white!important;
}
.terrainLigneDashedGauche{
    border-left: 1px dashed white!important;
}
.terrainLigneDashedTop{
    border-top: 1px dashed white!important;
}
.terrainLigneSolidTop{
    border-top: 3px solid white!important;
}
.terrainLigneSolidBottom{
    border-bottom: 3px solid white!important;
}
.table-xs{
    font-size:9px;
}
.lien-tooltip{
    color: white;
}
.lien-tooltip:hover{
    color: inherit;
    text-decoration: none;
}
.subtitles{
    color: grey;
    font-size: 11px;
}
.tags{
    font-size: 18px;
    font-weight: 600;
}
.text-vert{
    color: #00887A;
}
.badge-vert{
    padding: .7em .7em;
    background-color: #00887A;
    color: white;
}
.badge-vert:hover{
    border: 2px solid #00887A;
    color: #00887A;
    background-color: white;
}
.text-bold{
    font-weight: 600;
}
.my-progress{
    height: 1.5rem;
    font-size: 20px;
}
.my-canvas{
    /*width: 600px!important;
    height:500px!important;*/
}