<div class="row justify-content-center mb-3">
    <div class="col-lg-3">
        <div class="card {% if activeSubMenu == 'Nom' %}card-joueur-active{% endif %} p-1">
            <a href="{{ path('joueurs')}}" style="text-decoration: none"><i class="fas fa-5x fa-user" style="vertical-align: middle"></i> Recherche par nom</a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card {% if activeSubMenu == 'Equipes' %}card-joueur-active{% endif %} p-1">
             <a href="{{ path('search_by_equipe')}}" style="text-decoration: none"><i class="fas fa-5x fa-users" style="vertical-align: middle"></i> Recherche par équipe</a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card {% if activeSubMenu == 'Nationalité' %}card-joueur-active{% endif %} p-1">
             <a href="{{ path('search_by_nationalite')}}" style="text-decoration: none"><i class="fas fa-5x fa-flag" style="vertical-align: middle"></i> Recherche par nationalité</a>
        </div>
    </div>
</div>