<div class="list-group">
    <a href="{{ path('calendrier_competition')}}" class="list-group-item list-group-item-action {% if active == 'Calendrier / Résultats' %}active{% endif %}">Calendrier / Résultats</a>
    <a href="{{ path('classement_competition') }}" class="list-group-item list-group-item-action {% if active == 'Classement' %}active{% endif %}">Classement</a>
    <a href="{{ path('equipes') }}" class="list-group-item list-group-item-action {% if active == 'Equipe' %}active{% endif %}">Equipes</a>
    <a href="{{ path('joueurs') }}" class="list-group-item list-group-item-action {% if active == 'Joueurs' %}active{% endif %}">Joueurs</a>
</div>