{% extends "base.html.twig" %}
{% block title %}
    A propos
{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Accueil</li>
    </ol>
</nav>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-12'>
            <h1>A propos</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            <p class='text-justify'>
                <span style='font-weight:600'>Pro14fr</span> est un site internet de rugby créé en 2019-2020.<br />
                <br />
                Il a pour but de donner des informations sur le <span style='font-weight:600'>Pro14, le championnat de rugby à 15 des provinces Ecossaises, Galloises, Irlandaises, Italiennes et Sud Africaines</span>.
                Il proposera des actualités, comptes rendu de match, statistiques diverses et autre sur ce championnat.<br />
                Il a également pour but de donner des informations sur le <span style='font-weight:600'> rugby écossais</span> professionnel et notamment <span style='font-weight:600'>Super 6</span>, le championnat semi-professionnel écossais.<br />
                <br />
                A terme, l'objectif sera d'intégrer les équipes nationales masculine, U20 et féminine de l'Ecosse et de développer plus la partie concernant le Super 6.<br />
                <br />
                Ce site utilise les données proposées par le site office du <a href="https://www.pro14.rugby" target="_BLANK">Pro14</a>, <a href="https://www.espn.com/rugby/" target="_BLANK">ESPN</a>, de la <a href='https://www.scottishrugby.org/'>SRU</a> et de tous les clubs du Pro14.<br />
                <br />
                Ce site ne propose, pour l'instant, pas de cookies et ne collecte aucunes données personnelles. <br />
                Il est également gratuit d'utilisation et ne comporte, pour l'instant, aucune publicité.<br />
                <br />
                Si vous êtes amené à utiliser des informations produites par Pro14fr, je vous remercie de bien vouloir citer votre source dans vos publication.<br />
                <br />
            </p>
        </div>
    </div>
</div>
{% endblock %}