<footer class="footer mt-4 fixed-bottom">
    <div class='container-fluid'>
        <div class='row justify-content-center'>
            <div class='col-lg-12 text-center padd bg-vertClair'>
            </div>
        </div>
        <div class='row justify-content-center padd'>
            <div class='col-6 col-md-2 text-center'>
                <a href='{{path('contact')}}'>Contact</a>
            </div>
            <div class='col-6 col-md-2 text-center'>
                <a href='{{path('presentation')}}'>A propos</a>
            </div>
            <div class='col-6 col-md-2 text-center'>
                <a href='https://twitter.com/A_Vauthey' target="_BLANK"><i class="fab fa-twitter-square fa-2x"></i></a>
            </div>
            <div class='col-6 col-md-2 text-center'>
                <a href='{{path('rss')}}'><i class="fas fa-rss-square fa-2x"></i></a>
            </div>
            <div class='col-12 text-center' style="font-size:11px">
                <span>© Pro14fr - Antoine Vauthey - 2020</span>
            </div>
        </div>
    </div>
</footer>
