<div class="list-group">
    <a href="{{ path('equipe',{'id':equipe.id})}}" class="list-group-item list-group-item-action {% if active == 'Présentation' %}active{% endif %} ">Présentation</a>
    <a href="{{ path('calendrier_equipe',{'id':equipe.id})}}" class="list-group-item list-group-item-action {% if active == 'Calendrier / Résultats' %}active{% endif %}">Calendrier / Résultats</a>
    <a href="#" class="list-group-item list-group-item-action {% if active == 'Effectif' %}active{% endif %}">Effectif</a>
    <a href="#" class="list-group-item list-group-item-action {% if active == 'Stats' %}active{% endif %}">Stats</a>
    <a href="#" class="list-group-item list-group-item-action {% if active == 'Presse' %}active{% endif %}">Presse</a>
    <a href="#" class="list-group-item list-group-item-action {% if active == 'Article' %}active{% endif %}">Article</a>
</div>